
# Created by https://www.toptal.com/developers/gitignore/api/dotnetcore,visualstudiocode,linux
# Edit at https://www.toptal.com/developers/gitignore?templates=dotnetcore,visualstudiocode,linux

### DotnetCore ###
# .NET Core build folders
bin/
obj/

# Common node modules locations
/node_modules
/wwwroot/node_modules

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide



# End of https://www.toptal.com/developers/gitignore/api/dotnetcore,visualstudiocode,linux